* {
    box-sizing: border-box;
    font-family: SVNGilroyMedium;
    font-size: 1em;
}

html,body {
    margin: 0;
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

.container {
    margin: 0 220px;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #FF00FF;
}

a:active {
    color: #0000FF;
}

img:hover {
    transform: scale(1.1);
    transition: ease .5s;
}

ul {
    list-style-type: none;
}

@font-face {
    font-family: SVNGilroyMedium;
    src: url(../fonts/SVN-Gilroy-Medium.otf);
}

@font-face {
    font-family: SVNGilroyMedium;
    src: url(../fonts/SVN-Gilroy-Bold.otf);
    font-weight: bold;
}

button {
    cursor: pointer;
    transition: opacity 0.2s ease;
}

button:hover {
    opacity: 0.8;
}

input {
    cursor: pointer;
    transition: opacity 0.2s ease;
}

input:hover {
    opacity: 0.8;
}

::selection {
    color: white;
    background-color: black;
}

@media (min-width: 576px) {
    .container, .container-sm {
    max-width: 540px;
}
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
    max-width: 700px;
}
}


@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
    max-width: 800px;
}
}


@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 900px;
}
}


@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1000px;
}
}
