.nav {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.nav-nordic {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list a {
    margin-left: 35px;
}

.cart p {
    display: none;
}

.cart:hover p {
    display: block;
}

.login-create-account {
    margin: 115px 520px;
}

.title_login-create-account {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.title_login-create-account h3 {
    font-size: 2.25em;
    margin: 0;
    margin-right: 23px;
}

.title_login-create-account a::after {
    content: url(/img/login-arrow.svg);
    padding-left: 17px;
    text-decoration: underline;
}

.title_login-create-account a {
    vertical-align: middle;
    border-bottom: 1px solid black;
    margin-bottom: -16px;
}

.email_login-create-account {
    border: none;
    border-bottom: 1px solid #E0E0E0;
    width: 400px;
    margin-bottom: 60px;
}

.password_login-create-account {
    border: none;
    border-bottom: 1px solid #E0E0E0;
    width: 400px;
    margin-bottom: 50px;
}

.remember-me {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.remember-me a {
    text-decoration: underline;
}

.button-black {
    background: #000000;
    border-radius: 30px;
    border: none;
    color: white;
    width: 160px;
    height: 50px;
}

footer {
    background: rgba(242, 242, 242, 1);
    padding-top: 70px;
    padding-bottom: 70px;
}

.lists-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.lists-footer p {
    color: rgba(130, 130, 130, 1);
    padding-bottom: 10px;
}
.lists-footer ul {
    padding-left: 0;
}

.lists-footer li {
    line-height: 2;
}

.lists-footer a {
    font-size: .875em;
}

.security-system li::before {
    content: url(/img/green-tick.svg);
    padding-right: 8px;
    vertical-align: middle;
}

.copyright-footer {
    color: rgba(130, 130, 130, 1);
}